@page "/counter"

<div class="row">
    <div class="col alert alert-secondary text-center" >
        <h1 style="color: @Styles.Color">Counter</h1>
    </div>
</div>

<div class="row">
    <div class="col-6 text-left">
        <button class="btn btn-primary p-3" @onclick="IncrementCount">Click me</button>
    </div>
    <div class="col-6 text-right">
        <div style="font-size: @Styles.Size; color: @Styles.Color">@currentCount</div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <input type="number" class="form-control-lg" @bind="currentCount"/>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6 text-center alert alert-primary">
        Singleton count @_singleton.Value
    </div>
    <div class="col-6 text-center alert alert-danger">
        Transient count @_transient.Value
    </div>
</div>
